.tarefa{
    width: 85%;
    height: 5.0rem;
    margin: 0 auto;
    margin-top: 1.0rem;
    border-radius: 1.0rem;
    background: #3D1C4B;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1.0rem;
    cursor: pointer;
}

.tarefa:hover{
    background: #32133f;
}

.tarefa h2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tarefa section{
    
    margin-left: 1.6rem;
}


.botoes{
    display: flex;
    text-align: end;
    width: 50%;
    gap: .5rem;
}


.botoes button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 2.0rem;
    height: 2.0rem;
    cursor: pointer;
}

#trash img{
    width: 1.6rem;
    height: 1.6rem;
}

#ok img{
    width: 1.6rem;
    height: 1.6rem;
}