.lista{
    margin: 0 auto;
    margin-top: 2.4rem;
    align-items: center;
    background: #1E1821;
    width: 45.0rem;
    max-height: 80%;
    overflow-y: hidden;
    border-radius: 1.0rem;
}
.lista section p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 2.0rem;
}