.geral{
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/fundp.jpg');
  background-size: 100%;
  overflow: hidden;

  background-repeat: no-repeat;
}

.container{
  width: 70.0rem;
  height: 100vh;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 6.0rem;
  border-radius: 1.2rem;
  background: #140F16;
}

#titulo{
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5.0rem;
}
#titulo img{
  width: 3.7rem;
}
#titulo h1{
  color: #FFF;
  font-family: Montserrat;
  font-size: 3.0rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.designInput{
  display: flex;
  flex-direction: row;
  gap: 1.0rem;
  justify-content: center;
  align-items: center;

 
}
.designInput button{
  width: 4.0rem;
  height: 4.0rem;
  margin-top: 12.0rem;
  border-radius: .8rem;
  background-color: white;
}
.designInput button img{
  height: 2.0rem;
}


#input{
    display: flex;
    flex-direction: column;
    margin-top: 10.0rem;
   
}

#input input{
  width: 40.0rem;
  height: 4.0rem;
  border-radius: .8rem;
  background: #1E1821;
  border: none;
  color: white;
  padding: .8rem;
}

#input input:focus{
  border-color: none;
}

#input label{
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}